/* CSS Custom Properties */

:root {
    /* Fonts */
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    /* Colors */
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;
    --accent: #E7E9FC;
    --light: #F4F4FD;
    --modal-overlay: #2E2F42;
    --hero-background: #2E2F42;
    --white-color: #ffffff;

    /* Others */
    --radius: 4px;
}

/* General styles */

body {
    font-family: var(--main-font);
    color: var(--text);
    background-color: var(--white-color);
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    

    /* outline: 2px solid tomato;
    outline-offset: -2px; */
}

.section {
    padding: 120px 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.list {
    list-style: none;
}

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: var(--radius);
    text-align: center;
}

/* Header styles*/

.header {
    border-bottom: 1px solid #E7E9FC;
    border-bottom: 1440px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
}

.header-logo {
    color: var(--dark);
}

.site-nav {
    display: flex;
    gap: 40px;
}

.header-nav {
    margin-right: auto;
}

.nav-link {
    color: var(--dark);    
    font-weight: 500;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    color: var(--pressed-state);
}

.nav-link.current::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state);
    border-radius: 2px;
    bottom: 0;
}

.nav-link:hover, .nav-link:focus {
    color: var(--pressed-state);
}

.contacts-link {
    color: var(--text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
    color: var(--pressed-state);
}

.contacts {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Footer styles */

.footer-logo {
    color: var(--white-color);
}

.footer {
    background-color: var(--dark);
    padding: 100px 0;
}

.footer-text {
    color: var(--accent);
    width: 264px;
    margin-top: 16px;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1, 5;
    color: var(--white-color);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    color: var(--light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: var(--success);
}

.footer-container {
    display: flex;
    gap: 120px;
}

/* Hero section styles */

.hero {
    background-color: var(--dark);
    text-align: center;
    padding: 188px 0;
}

.hero-title {
    color: var(--white-color); 
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
    width: 494px;
    margin-left: auto;
    margin-right: auto;
}

.hero-button {
    color: var(--white-color);
    background-color: var(--primary-brand);
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state);
}

.hero-overlay {
    max-width: 1440px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Title styles for different sections */

.advantages-title, .examples-title, .team-title, .customers-title, .portfolio-title {
    color: var(--dark);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    text-align: center;
}

/* Subtitles styles for different sections */

.advantages-subtitle, .team-subtitle, .portfolio-subtitle {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

/* Advantages section styles */

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.advantages-text {
    max-width: 264px;
}

.advantages-icon-bcg {

    height: 112px;
    background: var(--light);
    border-radius: var(--radius);
    margin-bottom: 8px;
    padding: 24px 100px;
}

/* Examples section styles  */

.examples {
    padding-top: 0;
}
.examples-title {
    margin-bottom: 72px;
}

.examples-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

/* Team section styles */

.team {
    background-color: var(--light);
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.team-card {
    padding: 32px 16px;
    text-align: center;
    background: var(--white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px var(--radius) var(--radius);
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: var(--primary-brand);
    border-radius: 50%;
    color: var(--light);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover {
    background-color: var(--pressed-state);
}

.social-icon {
    fill: currentColor;
}

/* Customers section styles */

.customers {
    padding-top: 130px;
}

.customers-title {
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--subtle-text);
    border-radius: var(--radius);
    color: var(--subtle-text);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon {
    fill: var(--pressed-state);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--pressed-state);
}

/* Portfolio section styles */

.portfolio {
    padding-top: 96px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 75px;
}

.filter-button {
    color: var(--primary-brand);
    background-color: var(--light);
    padding: 12px 24px;
    border: 1px solid var(--accent);
    border-radius: var(--radius);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
    color: var(--white-color);
    background-color: var(--pressed-state);
    border: 1px solid var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: var(--radius);
}

.portfolio-card {
    border: 1px solid var(--accent);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.portfolio-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-set-item {
    flex-basis: calc((100% - 24px*2) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-set-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}


.thumb {
    position: relative;
    overflow: hidden;
}

.thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-brand);
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-set-item:hover .thumb-overlay, 
.portfolio-set-item:focus .thumb-overlay {
    transform: translateY(0);
}

.thumb-overlay-text {
    color: var(--light);
}


/* Modal and backdrop window styles */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.1);
    opacity: 0;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    
    height: 576px;
    width: 408px;
   
    background-color: var(--white-color);


    transform: translate(-50%, -50%) scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button-close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 28px;
    right: 33px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: var(--accent);
    border: 1px solid rgba(0, 0, 0, 0.1);

    color: var(--text);
}

.modal-button-close:active {
    background-color: var(--pressed-state);
    fill: var(--white-color);
}

.button-close-icon {
    fill: currentColor;
}